# Node (caso use Vite/Frontend depois)
node_modules/

# Composer
/vendor

# Laravel Environment
.env
.env.backup
.env.example.local
.env.testing

# Laravel Logs
/storage/logs
/storage/*.key

# Cache e arquivos temporários
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache

# Banco local (SQLite)
*.sqlite*
*.sqlite3

# Laravel IDE Helper (caso use)
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpunit.result.cache

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Git
*.log
*.bak
*.tmp

